.quiz-btn {
	color: white !important;
	background-color: transparent !important;
	width: 70%;
	border: 3px solid orange !important;
}

.quiz-btn p {
	margin: 5px 0;
	font-size: 1.2rem;

	font-family: "Montserrat", sans-serif !important;
	letter-spacing: 2px;
}

.quiz-btn:focus{
	outline: 0 !important;
	background-color: orange !important;
	transform: skew(-30deg);
}

@media only screen and (max-width: 400px){
	.quiz-btn p {
		font-size: 0.7rem;

	}
}

.next-button {
	transform: skew(-30deg) !important;
}

.next-button p{
	transform: skew(30deg);
}

.prev-button {
	transform: skew(30deg) !important;
}

.prev-button p {
	transform: skew(-30deg);
}

.quiz-btn:hover {
	background-color: orange !important;
	transform: skew(-30deg);
}

.submit-button:hover {
	background-color: orange !important;
	transform: scale(1);
}