.welcome-page {
	height: calc(100vh - 64px);

	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width:600px) {
	.welcome-page {
		height: calc(100vh - 56px);
	}
}

.heading-section {
	display: flex;
	justify-content: center;
	align-items: center;
}

div .MuiGrid-root {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.quiz-image {
	max-width: 500px;
}

.pin-section {
	display: flex;
	justify-content: flex-end !important;
}

.pin-image {
	width: 300px;
	margin-right: 10%;
}

@media screen and (max-width:520px) {
	.welcome-screen {
		padding-top: 15vh;
	}
	.quiz-image {
		max-width: 350px;
	}
}

@media screen and (max-width:360px) {
	.quiz-image {
		max-width: 300px;
	}
}