.btn {
    /* width: 100% !important; */
    /* margin: 10px 10px !important; */
    background-color: rgba(109, 168, 236, 0.7) !important;
    color: #fff !important;
}

.bg{
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 0 !important;
    min-height: calc(100vh - 64px);
}

@media only screen and (max-width: 600px){
    .bg{
        min-height: calc(100vh - 56px);
    }
}